@font-face {
  font-family: 'Courgette';
  src: url(../fonts/Courgette-Regular.woff);
}

@font-face {
  font-family: 'Montserrat-italic';
  src: url(../fonts/Montserrat-Italic.woff);
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to left, #232526, #414345);
}

.wrapper {
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipad-container {
  max-height: 100%;
  max-width: 100%;
  height: 860px;
  width: 640px;
  border: double 3px transparent;
  border-radius: 25px;
  background-image: linear-gradient(black, black), radial-gradient(circle at center, #a399b2,#444,#a399b2, #444);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ipad-screen {
  padding: 50px 25px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.ipad-screen__content {
  background-color: #2c3e50;
  height: 100%;
  border: 2px solid #363636;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.cell {
  flex: 1 1 auto;
  border: 1px solid #a399b2;
  position: relative;
  z-index: 1;
}

.no-borders {
  border-color: transparent !important;
}

.camera {
  background-color: #0b2874;
  height: 8px;
  width: 8px;
  border: 2px solid #363636;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.home-button {
  background-color: transparent;
  height: 30px;
  width: 30px;
  border: 2px solid #3f3f3f;
  border-radius: 50%;
  outline: 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.ipad-screen-menu {
  position: absolute;
  bottom: -80px;
  height: 80px;
  width: 100%;
  background: linear-gradient(to bottom, #1a252f, #2c3e50);
  z-index: 2;
  transition: all 0.2s;
  pointer-events: none;
}

.ipad-screen-menu--active {
  bottom: 0;
}

.ipad-screen-menu__list {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ipad-screen-menu__item {
  height: 100%;
}

.ipad-screen-menu__btn {
  height: 100%;
  width: 64px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transition: background-color 0.2s;
}

.ipad-screen-menu__btn:active, .ipad-screen-menu__btn--active {
  background-color: #2c3e50;
}

.ipad-screen-menu__btn--eraser {
  background-image: url(../img/eraser.svg);
}

.ipad-screen-menu__btn--palette {
  background-image: url(../img/palette.svg);
}

.ipad-screen-menu__btn--grid {
  background-image: url(../img/grid.svg);
}

.ipad-screen-menu__btn--die {
  background-image: url(../img/die.svg);
}

.ipad-screen-menu__btn--borders {
  background-image: url(../img/no-border.svg);
}

.color-picker {
  position: absolute;
  z-index: 10;
  display: none;
}

.color-picker--visible {
  display: block;
}

.author {
  position: fixed;
  top: 50px;
  right: 30px;
  color: #a399b2;
}

.author h1 {
  font-family: 'Courgette', Arial, Helvetica, sans-serif;
}

.author h3 {
  font-family: 'Montserrat-italic', Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 1024px) {
  .author {
    font-size: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .author {
    display: none;
  }
}
